---
import {Code} from '@astrojs/starlight/components';
const { filename, highlights } = Astro.props;

import fs from 'node:fs/promises';
import path from 'node:path';
const filePath = path.resolve('..', 'example', 'src', 'main', 'java', filename);
const sourceCode = await fs.readFile(filePath, 'utf-8');
---

<Code code={sourceCode} title={filename} lang="java" mark={highlights}/>

<p>You also find this source code example in the <a
    href={`https://github.com/osiegmar/FastCSV/blob/main/example/src/main/java/${filename}`}>FastCSV GitHub repository</a>.</p>
